# Text editor backup files
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
